/.gradle/
/bin/
/build/
/dfinity/
/derby.log
/gradle.properties
/build-export.gradle
/secring.gpg
/DEPLOY.md
/FinancialInstitutionCreditTransferV09Types.mo
/FIToFICustomerCreditTransferV07Types.mo
.project
.classpath
.settings/
.DS_Store
